                                                /*? this is the Main CSS File */

* {
    margin: 0;
}

body {
    width: 100%;
    height: 100dvh;

}

.mySpany {
    background-color: hsl(256, 49%, 52%);
}