/*? this is the Main CSS File */

/* ?? Main Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,3,61,1) 26%);
}

html{
  scroll-behavior: smooth;
}

.btn {
  padding: 20px 15px;
  color: #fff;
  background-color: #1a1885;
  border-radius: 10px;
  transition: .5s ease ;
  font-weight: 600;
}

.btn:hover {
  background-color: #fff;
  color: #1a1885;
}

.heading{
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}
.heading h3{
    font-size: 42px;
    color: rgb(90,143,255);
    font-weight: 600;
}

/* ** Hero Section */

.hero-section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}


.hero-content{
    margin-left: 40px;
    color: #fff;
    width: 600px;
    margin: 0 auto;
}

.hero-content h1{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
}


.who-part .content p{
    color: #f1f1f1;
    padding: 20px 0;
    text-align: justify;
}


/* ?? Swiper in clients section */


.clients {
    padding: 40px 0;
    text-align: center;
  }

  .heading h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
  }

  .heading p {
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 40px;
  }

  .swiper {
    width: 100%;
    padding: 20px 40px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    user-select: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  .swiper-slide p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #555;
  }

  .swiper-slide-active {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  @media (min-width: 768px) {
    .swiper-slide {
      width: 400px;
      height: 400px;
    }

    .swiper-slide img {
      height: 300px;
    }
  }
  
/* ?? Footer */

.social-links li{
    margin: 10px 0;
    background-color: rgb(90,143,255);
    border-radius: 14px;
    padding: 15px 10px;
    width: 150px;
    color: #fff;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-align: center
}

.social-links li:hover{
    color: rgb(90,143,255);
    background-color: #fff;
}

.contact-data h4{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-data input{
    padding: 20px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}





.sectionEffect {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
     transition: 1.5s all;
 }
 
 .show {
     opacity: 1;
     filter: blur(0);
     transform: translateX(0);
 }


 input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 65%;
	background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0 5%;
	position: relative;
}

.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	small {
		display: block;
		font-size: .75em;
		font-weight: 400;
		margin-top: .25em;
	}
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
}

.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
	a {
		display: block;
		color: #6658d3;
		text-decoration: none;
	}
}




/* From Uiverse.io by Yaya12085 */ 
.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio-inputs > * {
    margin: 6px;
  }
  
  .radio-input:checked + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
  }
  
  .radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
  }
  
  .radio-input:checked + .radio-tile .radio-icon svg {
    fill: #2260ff;
  }
  
  .radio-input:checked + .radio-tile .radio-label {
    color: #2260ff;
  }
  
  .radio-input:focus + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  
  .radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  
  .radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
  }
  
  .radio-tile:hover {
    border-color: #2260ff;
  }
  
  .radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-icon i {
    width: 2rem;
    height: 2rem;
    color: #494949;
  }
  
  .radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
  }
  
  .radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }


  /* ?? Contact Us page */

  #title-Tag-Line {
    font-size: 20px;
  }
  /* .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
  } */
  
  /* form animation starts */
  #contactPage .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #371D7E;
  /*   z-index: 1; */
    animation: bounce 1.5s infinite;
  }
  #contactPage ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  #contactPage .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  #contactPage .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  #contactPage .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  #contactPage  .secondaryTitle{
    color: grey;
  }
  
  #contactPage .name {
    background-color: #ebebeb;
    color: white;
    transition: border-bottom 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
  }
  #contactPage .name:hover {
    border-bottom: 5px solid #371D7E;
    padding: 20px;
  }
  
  #contactPage  .email {
    background-color: #ebebeb;
    height: 2em;
    transition: border-bottom 1s ease-in-out;
    transition: padding 0.5s ease-in-out;
  }
  
  #contactPage .email:hover {
    border-bottom: 5px solid #371D7E;
    padding: 20px;
  }
  
  #contactPage .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
    transition: border-bottom 1s ease-in-out;
    transition: padding 1s ease-in-out;
  }
  
  #contactPage .message:hover {
    border-bottom: 5px solid #371D7E;
    padding: 20px;
  }
  
  #contactPage .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s linear;
  }
  
  #contactPage .submit {
    width: 200px;
    color: white;
    background-color: #371D7E;
    font-size: 20px;
    transition: all ease-in-out 0.8s;
  }
  
  #contactPage .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 
  
  